*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}


tr th, td{
    padding: 0.3rem;
}

.container {
    padding: 2rem 3rem;
}


.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5) ;
    width: 50%;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    gap: 1rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.modal h2{
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: center;
    padding-bottom: 0.2rem;
}

.closeModal{
    width: 100%;
    display: flex;
    justify-content: end;
}

.modal.visible{
    visibility: visible;
    opacity: 1;
    overflow-y: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* NAV STYLES */

nav{
    display: flex;
    top: 0;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 30px rgba(0,0,0,0.5);
    padding: 1rem;
}

.navList {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.navLink{
    color: #000;
    font-weight: 700;
    transition: all .5s ease;
}
.navLink:hover{
    color: grey;
}

.navLink.active{
    color: grey;
}

/* NAV STYLES */

/* ADD PAGES */
.addContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#productForm, #companieForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#productForm button, #companieForm button {
    margin: 0 auto;
} 

.helpControl {
    align-items: center;
}

.help {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: blue;
    border: grey;
    border: 1px solid #000;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.help::after {
    content: "Enter a valid gtin. Max-length: 14 characters with numbers and letters";
    position: absolute;
    text-align: center;
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(128, 128, 128, 0.712);
    padding: 6px 8px;
    font-size: 0.8rem;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
}

.help:hover::after {
    opacity: 1;
    visibility: visible;
}

/* ADD PAGES */

/* PUBLIC CONTENT */
.publicContainer {
    height: auto;
}

.publicContent {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.publicContent .head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.publicContent .head label{
    display: flex;
    flex-direction: column;
}

.publicContent .modal {
    gap: 1rem;
}

.searchControl {
    display: flex;
    gap: 1rem;
}
/* PUBLIC CONTENT */